## Data exploration
Movies Bewertungsmatrix

In [84]:
from logics.parser import create_dataframe
from logics.main import recommend_to_user
from math import prod

In [85]:
df = create_dataframe('resources/movies.mat', 'resources/movie_ids.txt')
df.head()

,User 1,User 2,User 3,User 4,User 5,User 6,User 7,User 8,User 9,User 10,...,User 934,User 935,User 936,User 937,User 938,User 939,User 940,User 941,User 942,User 943
1. Toy Story(1995),5,4,0,0,4,4,0,0,0,4,...,2,3,4,0,4,0,0,5,0,0
2. GoldenEye(1995),3,0,0,0,3,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,5
3. Four Rooms(1995),4,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
4. Get Shorty(1995),3,0,0,0,0,0,5,0,0,4,...,5,0,0,0,0,0,2,0,0,0
5. Copycat(1995),3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
# Number of movies
print(f'Number of movies: {df.shape[0]}')
# Number of users
print(f'Number of users: {df.shape[1]}')

Number of movies: 1682
Number of users: 943

Check if all values in matrix are from 0 to 5

In [87]:
df.isin([0, 1, 2, 3, 4, 5]).eq(True).all().eq(True).all()

True

Get sparsity of the Bewertungsmatrix:

In [88]:
no_ratings = (df == 0).values.sum()
total = prod(df.shape)
print(f'A no_ratings of {no_ratings:,} from a total of {total:,} ratings!')
print(f'--> Sparsity: {round(no_ratings / total, 4)}')

A no_ratings of 1,486,126 from a total of 1,586,126 ratings!
--> Sparsity: 0.937

### Use case for user 12 with Pearson similarity method

In [89]:
dic_items = recommend_to_user(df, 'User 12', 'Pearson')
print("\n{:<70} {:<10}".format('Movie', 'Predicted rating'))
count = 0
for v in dic_items.items():
    (movie, rating) = v
    print("{:<70} {:<10}".format(movie, rating))
    count = count + 1
    if count == 10:
        break

Movie                                                                  Predicted rating
814. Great Day in Harlem  A(1994)                                      5.0
1122. They Made Me a Criminal(1939)                                    5.0
1189. Prefontaine(1997)                                                5.0
1201. Marlene Dietrich: Shadow and Light(1996)                         5.0
1500. Santa with Muscles(1996)                                         5.0
1536. Aiqing wansui(1994)                                              5.0
1599. Someone Elses America(1995)                                      5.0
1653. Entertaining Angels: The Dorothy Day Story(1996)                 5.0
1467. Saint of Fort Washington  The(1993)                              4.999999999999999
1358. The Deadly Cure(1996)                                            4.7644368455497945